<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="css/branch_management.css" rel="stylesheet">
    
<!--  nav bar -->
<div class="row wrapper border-bottom  page-heading" id="naviTitle" style="display:none;">
    <div class="col-lg-12">
     
     <div id="slide_status">
     	<div id="btnClose"><i class='fa fa-times'></i></div>
     	<div id="slide_status_area"></div>
     </div>
        <ol class="breadcrumb">
            <li>
                <a href="#/"><i class="fa fa-home "></i> Home</a>
            </li>
            <li>
            <i class="fa fa-gears"></i> System Management
            </li>
            <li class="active">
             <strong id="naviLabelMenu"><i class="fa fa-user"></i>  </strong>
            </li>
        </ol>
    </div>
   
</div>
<!-- nav bar -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                        
                            <div class="ibox-title">
                                <h5>Branch List</h5>
							</div>
							
                            <div class="ibox-content">
								<div class="row">
								
                                    <div class="col-sm-9">
                                    	<button type="button" class="btn btn-info edit_table" id="btnEditBranchOperation" data-target="#editModalBranch" data-toggle="modal"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</button>
                                    	<button type="button" class="btn btn-warning " id="btnSubmit"><i class="fa fa-save"></i>&nbsp;Save</button>
                                    	<button type="button" class="btn btn-danger "id="btnCancle"><i class="fa fa-reply-all"></i>&nbsp;Cancel</button>
                                    </div>
                                    
                                    <div class="col-sm-3">
				                       <div class="input-group"><input type="text" placeholder="Search" id="searchText" class="input-sm form-control"> <span class="input-group-btn">
				                          <button type="button" class="btn btn-sm btn-primary" id="btnSearch">&nbsp;<i class="fa fa-search"></i></button> </span>
				                       </div>
				                    </div> 
                                   
                                    <div class="col-sm-8">
	                                    <div class="alert alert-success" hidden="hidden">
										    <p><strong>Success!</strong> This alert box could indicate a successful or positive action.</p>
										</div>
                                    </div>
                                     
                                    <input type="hidden" name="id" id="id" value="">
                                    <input type="hidden" name="action" id="action" value="">
                             	</div>
                             	<!-- pagination start -->
	                             <div class="row">
	                                <div class="col-sm-9 ">
										<span class="pagination_top"></span>
	                                </div>
	                                 <div class="col-sm-3 object-right paging-text">
	                                 		<div class='pagingDropdown'>
	                                 			<select name="account" id='countPaginationTop'  class="form-control input-sm countPagination">
				                                     <option>10</option>
				                                     <option>20</option>
				                                     <option>50</option>
				                                     <option>100</option>
				                                 </select>
	                                 		
	                                 		</div>
											<div class='pagingText'>Results per page</div>
	                                 
	                                 </div>
	                                <!--  
	                                 <div class="col-sm-1">
	                                	<select name="account" id='countPaginationTop'  class="form-control input-sm countPagination">
		                                     <option>10</option>
		                                     <option>20</option>
		                                     <option>50</option>
		                                     <option>100</option>
		                                 </select> 
                                	</div>
                                	 -->
                               	</div> 
                               	 <!-- pagination end -->
                                
                                <div class="table-responsive">
                                    <table class="table table-striped" id="tableBranch">
                                        <thead>
                                        	<tr>
												<th style='width:50px;'>Branch Code</th>
	                                            <th style='width:140px;'>Branch Name</th>
	                                            <th style='width:80px;'>Cost Center</th>
	                                            <th style='width:140px;'>Regional Office</th>
	                                            <th style='width:140px;'>District</th>
	                                            <th style='width:50px; text-align:center;' >Close</th>
                                        	</tr>
                                        </thead>
                                        <tbody id="listBranch">
                                        	
                                        	
                                        </tbody>
                                    </table>
                                </div>
                                                        
                                <!-- pagination start -->
	                             <div class="row">
	                                <div class="col-sm-9 ">
										<span class="pagination_bottom"></span>
	                                </div>
	                                 <div class="col-sm-3 object-right paging-text">
		                                 	<div class='pagingDropdown'>
		                                 			<select name="account" id='countPaginationBottom'  class="form-control input-sm countPagination">
					                                     <option>10</option>
					                                     <option>20</option>
					                                     <option>50</option>
					                                     <option>100</option>
					                                 </select> 
		                                 	
		                                 	</div>
											<div class='pagingText'>Results per page</div>
		                                 
	                                 </div>
	                                 <!-- 
	                                 <div class="col-sm-1">
	                                	<select name="account" id='countPaginationBottom'  class="form-control input-sm countPagination">
		                                     <option>10</option>
		                                     <option>20</option>
		                                     <option>50</option>
		                                     <option>100</option>
		                                 </select> 
                                	</div>
                                	 -->
                               	</div> 
                               	 <!-- pagination end -->
 								<br style='clear:both'>
                                
                            </div>
                            <!-- content end -->
                            
                        </div>
                    </div>

                </div>

    <!-- Branch Controller -->
    <script src="Controller/cBranchManagement.js"></script> 


