<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="css/system_comfiguration.css" rel="stylesheet">
<!--  nav bar -->
<div class="row wrapper border-bottom  page-heading" id="naviTitle" style="display:none;">
    <div class="col-lg-12">
     <div id="slide_status"></div>
        <ol class="breadcrumb">
            <li>
                <a href="#/"><i class="fa fa-home "></i> Home</a>
            </li>
            <li>
            <i class="fa fa-gears"></i> System Management
            </li>
            <li class="active">
             <strong id="naviLabelMenu"><i class="fa fa-share-alt"></i> Configuration </strong>
            </li>
        </ol>
    </div>
   
</div>
<!-- nav bar -->	 
<!-- Default KPI Calculation Date -->				
				<div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                        
                           <div class="ibox-title">
                                <h5>Default KPI Calculation Date</h5>
                            </div>
                            <div class="ibox-content">
                            	 <div class="row">
                            	 		<div class="col-lg-12">
											<div class="col-sm-9" >
												<label>Note :กําหนดวันในแต่ละเดือน สําหรับการคิด KPI</label>
											</div>
											<div class="col-sm-2" align="right">
												<input type="text"  class="form-control input-inline-table input-seq kpi_date_m" id="default_kpi_date">
											&nbsp;&nbsp;
											</div>
											<div class="col-sm-1 btn-setall" >
												<button class="btn btn-info btn-sm " id="btnSetAll">Set All</button>
											</div>
										</div>
									</div>

										<div class="table-responsive">
										<!-- table-striped -->
											<table class="table ">
												<thead>
													<tr>
														<th>Month</th>
														<th>Days</th>
														<th>Month</th>
														<th>Days</th>
														<th>Month</th>
														<th>Days</th>
													</tr>
												</thead>
												<tbody id="">
													<tr>
														<td>
															<div class='text-inline-table'>January</div>
														</td>
														<td>
															<input class="form-control input-inline-table input-seq kpi_date_m" type="text" id="kpi_date_m1">
														</td>
														<td>
															<div class='text-inline-table'>February</div>
														</td>
														<td>
															<input class="form-control input-inline-table input-seq kpi_date_m" type="text" id="kpi_date_m2">
														</td>
														<td>
															<div class='text-inline-table'>March</div>
														</td>
														<td>
															<input class="form-control input-inline-table input-seq kpi_date_m" type="text" id="kpi_date_m3">
														</td>
													</tr>
													<tr>
														<td>
															<div class='text-inline-table'>April</div>
														</td>
														<td>
															<input class="form-control input-inline-table input-seq kpi_date_m" type="text" id="kpi_date_m4">
														</td>
														<td>
															<div class='text-inline-table'>May</div>
														</td>
														<td>
															<input class="form-control input-inline-table input-seq kpi_date_m" type="text" id="kpi_date_m5">
														</td>
														<td>
															<div class='text-inline-table'>June</div>
														</td>
														<td>
															<input class="form-control input-inline-table input-seq kpi_date_m" type="text" id="kpi_date_m6">
														</td>
													</tr>
													<tr>
														<td>
															<div class='text-inline-table'>July</div>
														</td>
														<td>
															<input class="form-control input-inline-table input-seq kpi_date_m" type="text" id="kpi_date_m7">
														</td>
														<td>
															<div class='text-inline-table'>August</div>
														</td>
														<td>
															<input class="form-control input-inline-table input-seq kpi_date_m" type="text" id="kpi_date_m8">
														</td>
														<td>
															<div class='text-inline-table'>September</div>
														</td>
														<td>
															<input class="form-control input-inline-table input-seq kpi_date_m" type="text"id="kpi_date_m9">
														</td>
													</tr>
													<tr>
														<td>
															<div class='text-inline-table'>October</div>
														</td>
														<td>
															<input class="form-control input-inline-table input-seq kpi_date_m" type="text" id="kpi_date_m10">
														</td>
														<td>
															<div class='text-inline-table'>November</div>
														</td>
														<td>
															<input class="form-control input-inline-table input-seq kpi_date_m" type="text" id="kpi_date_m11">
														</td>
														<td>
															<div class='text-inline-table'>December</div>
														</td>
														<td>
															<input class="form-control input-inline-table input-seq kpi_date_m" type="text" id="kpi_date_m12">
														</td>
													</tr>								
												</tbody>				
											</table>
									<br>
									<div>
										<button class="btn btn-primary" id="btnSaveDefault">&nbsp;&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
									</div>                             
				             	</div>
				            </div>
				     	</div>
				     </div>
				 </div>
				<!-- Exporting File   -->         
				      
				  <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                                                  
		                            <div class="ibox-title">
		                                <h5>Exporting File</h5>
		                            </div>
		                            
		                            <div class="ibox-content">
		                            
		                            	<div class="row">
	                            	 		<div class="col-lg-12">
	                            	 		
												<div class="col-sm-3 exportConfigLabel" >
													<label>Root directory &nbsp;:</label>
												</div>
												
												<div class="col-sm-6">
													<input class="form-control input-dataroot" id="export_file_path">
												</div>
												
											</div>
										</div>
										
										<div class="row">
	                            	 		<div class="col-lg-12">
	                            	 		
												<div class="col-sm-3 form-data exportConfigLabel" >
													<label>Maximum record for citizen file&nbsp; :</label>
												</div>
												
												<div class="col-sm-2 form-data" >
													<input class="form-control input-data numberOnly" id="export_citizen_max_record" >
												</div>
												
												<div class="col-sm-1 form-data">
													<label>Records</label>
												</div>
												
												<div class="col-sm-3 form-data " align="right" > 
													<label>Maximum record for mobile file &nbsp;:</label>
												</div>
												
												<div class="col-sm-2 form-data">
													<input class="form-control input-data numberOnly" id="export_mobile_max_record" >
												</div>
												
												<div class="col-sm-1 form-data">
													<label>Records</label>
												</div>
												
											</div>
										</div>
										
										<div class="row">
	                            	 		<div class="col-lg-12">
	                            	 		
												<div class="col-sm-3 form-data exportConfigLabel" >
													<label>Include date in filename &nbsp;:</label>
												</div>
												
												<div class="col-sm-3 form-data" id="export_include_date_flag">
													<div class="radio radio-info radio-inline" >
								                               <input type="radio" name="export_include_date_flag" class="export_include_date_flag" id="export_include_date_flag_y" value="1">
								                               <label for="inlineRadio1"> Yes </label>
								                    </div>
								                    <div class="radio radio-inline">
								                              <input type="radio" name="export_include_date_flag" class="export_include_date_flag" id="export_include_date_flag_n" value="0">
								                              <label for="inlineRadio2"> No </label>
								                    </div>
												</div>
												
												<div class="col-sm-3 form-data" align="right">
													<label>Delete file older then &nbsp;:</label>
												</div>
												
												<div class="col-sm-2 form-data">
													<input class="form-control input-data numberOnly" id="export_nof_date_delete" >
												</div>
												
												<div class="col-sm-1 form-data">
													<label>Days</label>
												</div>
												
											</div>
										</div><br>
										
			                             <div class="row">
											<div class="form-save">
											
												<button class="btn btn-primary" id="btnSaveExport">&nbsp;&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
											
											</div>
		                                </div>
		                                
		                            </div>
		                         </div>
		                      </div>
		                   </div>   
		      		 <!-- Importing File -->
		      		 
		         <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">            
	                            <div class="ibox-title">
	                                <h5>Importing File</h5>
	                            </div>
		                            <div class="ibox-content">

		                            	<div class="row">
	                            	 		<div class="col-lg-12">
	                            	 		
												<div class="col-sm-3 importConfigLabel" >
													<label>Root directory &nbsp;:</label>
												</div>
												
												<div class="col-sm-6">
													<input class="form-control input-dataroot" id="import_file_path">
												</div>
												
											</div>
										</div>

										<div class="row">
	                            	 		<div class="col-lg-12">
	                            	 		
												<div class="col-sm-3 form-data importConfigLabel" >
													<label>Maximum file size &nbsp; :</label>
												</div>
												
												<div class="col-sm-2 form-data" >
													<input class="form-control input-data numberOnly" id="import_max_file_size">
												</div>
												
												<div class="col-sm-1 form-data">
													<label>MB.</label>
												</div>
												
												<div class="col-sm-3 form-data importConfigLabel" align="right">
													<label>Delete file older then &nbsp;:</label>
												</div>
												
												<div class="col-sm-2 form-data" >
													<input class="form-control input-data numberOnly" id="import_nof_date_delete">
												</div>
												
												<div class="col-sm-1 form-data" >
													<label>Days</label>
												</div>
												
											</div>
										</div>
										
										<div class="row">
	                            	 		<div class="col-lg-12">
	                            	 		
												<div class="col-sm-3 form-data importConfigLabel" >
													<label>Include date in filename &nbsp;:</label>
												</div>
												
												<div class="col-sm-3 form-data">
												
													<div class="radio radio-info radio-inline">
								                               <input type="radio" name="import_include_date_flag" class="import_include_date_flag" id="import_include_date_flag_y" value="1" >
								                               <label for="inlineRadio1">Yes</label>
								                    </div>
								                    <div class="radio radio-inline">
								                              <input type="radio" name="import_include_date_flag" class="import_include_date_flag " id="import_include_date_flag_n" value="0">
								                              <label for="inlineRadio2">No</label>
								                    </div>
								                    
												</div>
												
											</div>
										</div><br>
										
										
										
			                             <div class="row">
											<div class="form-save">
												<button class="btn btn-primary" id="btnSaveImport">&nbsp;&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
											</div>
		                                </div>
		                                 
		                            </div>
		                            
		                            
		                        </div>
		                     </div>
		                 </div>
		      			<!-- Warning Branch -->
                   	<div class="row ibox float-e-margins">
                   		<div class="col-lg-6">
                   			<div class="ibox-title">
                              	<h5>Warning Branch</h5>
                          	</div>
                          	
                           <div class="ibox-content waringBranch">
                           
							 <div class="row">
	                             <div class="col-lg-12 ">
	                             
									<div class="col-lg-7 form-data warningConfigLabelL" >
										<label>#Last contact date to warning branch when no document to update data:</label>
									</div>
									
									<div class="col-lg-4 form-data" >
										<input class="form-control input-data numberOnly" id="nof_contact_date" >
									</div>
									
									<div class="col-lg-1 form-data" align="right">
										<label>Days</label>
									</div>
									
								</div>
							</div>	
							
							<div class="row">
								<div class="col-lg-12">
								
									<div class="col-lg-7 form-data warningConfigLabelL"  >
										<label> &nbsp;</label>
									</div>
									
									<div class="col-lg-2 form-data"id="gradeCalculateDate">
										<label></label>
									</div>
									
								</div>
							</div>
							
							<div class="row">
								<div class="form-saveWarning">
									<button class="btn btn-primary" id="btnSaveWarBranch">&nbsp;&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
								</div>
							</div>
							
                           </div>
                   		</div>
                   		<!-- Grade Calculation Date -->
                   		<div class="col-lg-6 ">
                   			<div class="ibox-title">
                              	<h5>Grade Calculation Date</h5>
                          	</div>
                           <div class="ibox-content waringBranch">
                           
                             <div class="row">
	                             <div class="col-lg-12">
	                             
									<div class="col-lg-6 form-data warningConfigLabelR" >
										<label>Grade Calculation Date &nbsp;:</label>
									</div>
									
									<div class="col-lg-2 form-data" >
										<input class="form-control input-data" type="date" id="grade_calculate_date">
									</div>
									
								</div>
							</div>	
							
							<div class="row">
								<div class="col-lg-12">
								
									<div class="col-lg-6 form-data warningConfigLabelR" >
										<label>Grade Calculation Source Table &nbsp;:</label>
									</div>
									
									<div class="col-lg-2 form-data">
										<select class="form-control input-dataselect" id="grade_data_source" name="grade_data_source">
											<option value="1">dqs_initial_validate </option>
											<option value="2">dqs_validate</option>
											<option value="3">dqs_validate และ dqs_initial_validate</option>
										</select>
										 
									</div>
									
								</div>
							</div>
							
							
                             <div class="row">
	                             <div class="col-lg-12">
	                             
									<div class="col-lg-6 form-data warningConfigLabelR" >
										<label>Merge CIF Date &nbsp;:</label>
									</div>
									
									<div class="col-lg-2 form-data" >
										<input class="form-control input-data" type="date"id="merge_cif_date">
									</div>
									
								</div>
							</div>
							
							<div class="row">
								<div class="form-save">
									<button class="btn btn-primary" id="btnSaveGradeCalDate">&nbsp;&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
								</div>
							</div>	
							
                           </div>
                   		</div>
                   </div>
                   <!-- Default Rule Start -->
                   <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">            
	                            <div class="ibox-title">
	                                <h5>Default Role</h5>
	                            </div>
		                            <div class="ibox-content">
										<div class='row'>
											<div class="form-group"><label class="col-sm-3 control-label form-data defaultRoleConfigLabel">Position for Default Branch Role</label>
			                                    <div class="col-sm-8 form-data"><input id="position_branch_role_default" type="text" class="form-control input-dataroot"></div>
			                                </div>
			                                
			                                <div class="form-group"><label class="col-sm-3 control-label form-data defaultRoleConfigLabel">Cost Center for Default PowerUser Role</label>
			                                    <div class="col-sm-8 form-data"><input id="cc_poweruser_role_default" type="text" class="form-control input-dataroot"></div>
			                                </div>
			                                
			                                <div class="form-group"><label class="col-sm-3 control-label form-data defaultRoleConfigLabel">Position for Default PowerUser Role</label>
			                                    <div class="col-sm-8 form-data"><input id="position_poweruser_role_default" type="text" class="form-control input-dataroot"></div>
			                                </div>
		                                </div>
			                             <div class="row">
											<div class="form-save">
												<button class="btn btn-primary" id="btnSaveDefaultRole">&nbsp;&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
											</div>
		                                </div>
		                                
		                            </div>
		                        </div>
		                     </div>
		                 </div>
                   <!-- Default Rule End -->
<script src="Controller/cSystemConfiguration.js"></script>


