<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="css/report_custommer_sum_by_branch.css" rel="stylesheet">
<!--  nav bar -->
<div class="row wrapper border-bottom  page-heading" id="naviTitle" style="display:none;">
    <div class="col-lg-12">
     <div id="slide_status"></div> 
        <ol class="breadcrumb">
            <li>
                <a href="#/"><i class="fa fa-home "></i> Home</a>
            </li>
            <li>
            <!-- <div id="naviLabelCateMenu"> </div>-->
            <i class="fa fa-bar-chart-o"></i> Report
            </li>
            <li class="active">
             <strong id="naviLabelMenu"><i class="fa fa-share-alt"></i> รายงานสรุปจำนวนลูกค้ารายสาขา </strong>
            </li>
        </ol>
    </div>
   
</div>
<!-- nav bar -->		
<div class="row">
	<!--  SEARCH ADVANCE START -->
            
            <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Advance Search </h5>
                        </div>
                        <div class="ibox-content">
                        
                        <!-- input search start  -->
                        <div class='row'>
                        	<div class='col-lg-12'>
		                         <div class='search-area'>
		                         
			                            <div data-toggle="tooltip" title="Operation" class="search-box" id="listOperationArea">
			                             		
			                            </div>
			                            
			                            <div data-toggle="tooltip" title="Region" class="search-box" id="listRegionArea">
			                            			 <select id="listRegion" class="form-control input-sm listRegion">
						                            	<option value="">All Region</option>
						                            </select>
			                            
			                            </div>
			                            
			                            
			                            <div data-toggle="tooltip" title="District" class="search-box" id="listDistrictArea">
			                            			
			                            			<select id="listDistrict" class="form-control input-sm listDistrict">
						                            	<option value="">All District</option>
						                            </select>
			                            
			                            </div>
			                            
			                             <div data-toggle="tooltip" title="Branch" class="search-box" id="listBranchArea">
			                            			<select id="listBranch" class="form-control input-sm listBranch">
						                            	<option value="">All Branch</option>
						                            </select>	
			                            </div>
			                            <!-- 
			                            <div data-toggle="tooltip" title="Year" class="search-box" id="listYearArea">
			                            			
			                            </div>
			                            
			                            
			                             <div data-toggle="tooltip" title="Month" class="search-box" id="listMonthArea">
			                             		
			                            </div>
			                             -->
			                            
			                           <div class="search-box-submit">
			                           		<button class="btn btn-info btn-search input-sm" id='btnAdvanceSearch'  type="button"><i class="fa fa-search"></i>&nbsp;Search</button>
			                           </div>
			                            <br style="clear:both">
		                           
		                        </div> 
                        	</div>
                        </div>
                        <!-- input search end  -->   
                        </div>
                    </div>
                </div>
            
            <!-- SEARCH ADVANCE END -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <!-- <h5>Result Search </h5> -->
                
               
                
                  </div>
                  <div class="ibox-content">
                  
                   <div class="row">
                          <div class="col-sm-9">
                          </div>
                           <div class="col-sm-3">
	                           	<div class='object-right'>
	                           		  <form id='formExportToExcel' action="" method="post" target="_blank">
	                           		  <button type="button" id='exportToExcel' class="btn btn-info input-sm"><i class="fa fa-file-text-o"></i>&nbsp;Export to Excel</button>
	                           		  </form>
	                           	</div>
                           </div>
                   </div>
                   
                   <!-- pagination start -->
                   <!-- 
                    <div class="row">
                       <div class="col-sm-9 ">
						<span class="pagination_bottom"></span>
                       </div>
                        <div class="col-sm-2 object-right paging-text">Results per page</div>
                        <div class="col-sm-1">
                       	<select name="account" id='countPaginationBottom'  class="form-control input-sm countPagination">
                             <option>10</option>
                             <option>20</option>
                             <option>50</option>
                             <option>100</option>
                         </select> 
                       	</div>
                     </div> 
                      -->
              <!-- pagination end -->
              
              
                   <div class='row'>
                   	   <div class='col-sm-12'>
		               <div class="table-responsive">
		               <!-- table-striped -->
		               
		                        <table class="table" id="cusSumByBranchReportTable">
		                            <thead>
		                           
		                            <tr  class="active">
		                                 <th style="width:200px"></th>
		                                 <th style="width:130px"></th>
		                                 <th style="width:80px"> สมบูรณ์</th>
		                                 <th style="width:80px"> ไม่สมบูรณ์</th>
										 <th style="width:80px"> ทั้งหมด</th> 
										 <th style="width:80px"> สมบูรณ์</th>
		                                 <th style="width:80px"> ไม่สมบูรณ์</th>
										 <th style="width:80px"> ทั้งหมด</th> 
										 <th style="width:80px"> สมบูรณ์</th>
		                                 <th style="width:80px"> ไม่สมบูรณ์</th>
										 <th style="width:80px"> ทั้งหมด</th> 
										
		                            </tr>
		                            </thead>
		                            <tbody id="listDataCusSubByBranch">
		                       		</tbody>
		                   </table>
		               </div>
	               	</div>
                  </div>
                  
                  <!-- pagination start -->
                  <!-- 
                    <div class="row">
                       <div class="col-sm-9 ">
						<span class="pagination_bottom"></span>
                       </div>
                        <div class="col-sm-2 object-right paging-text">Results per page</div>
                        <div class="col-sm-1">
                       	<select name="account" id='countPaginationBottom'  class="form-control input-sm countPagination">
                             <option>10</option>
                             <option>20</option>
                             <option>50</option>
                             <option>100</option>
                         </select> 
                       	</div>
                     </div> 
                      -->
              <!-- pagination end -->
                  
            </div>
        </div>
    </div>

</div>
<div class='paramEmbedArea'></div>
<script src="Controller/cReportCusSumByBranch.js"></script>

