<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="css/data_quality_monitoring.css" rel="stylesheet">
<!--  nav bar -->
<div class="row wrapper border-bottom  page-heading" id="naviTitle" style="display:none;">
    <div class="col-lg-12">
     <div id="slide_status">
     <div id="btnCloseSlide"><i class='fa fa-times'></i></div>
	<div id="slide_status_area"></div>
     </div>
        <ol class="breadcrumb">
            <li>
                <a href="#/"><i class="fa fa-home "></i> Home</a>
            </li>
            <li>
            <i class="fa fa-dashboard"></i> DQ Monitoring 
            </li>
            <li class="active">
             <strong id="naviLabelMenu"><i class="fa fa-share-alt"></i>  </strong>
            </li>
        </ol>
    </div>
   
</div>
<!-- nav bar -->
				
				
				<div class="row">
					<!--  SEARCH ADVANCE START -->
                
                <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Advance Search </h5>
                               
                            </div>
                            <div class="ibox-content">
                            <div class='row'>
                            	<div class='ccol-lg-12'>
                            <!-- input search start  -->
                             <div class='search-area'>
                             
                             	   <div class="search-box-branch" id="listBranchArea" 	data-toggle="tooltip" title="Branch" >	
	                               </div>
	                               
	                               <div class="search-box-branch">
	                               			<input type="text" data-toggle="tooltip" title="From Start Validate Date" class="form-control input-sm" id="start_validate_date" placeholder="From Start Validate Date"  value="">
	                               </div>
                             		
                             	    <div class="search-box-branch">
	                               			<input type="text" data-toggle="tooltip" title="To Start Validate Date" class="form-control input-sm" id="end_validate_date" placeholder="To Start Validate Date"  value="">
	                               </div>
	                               
                             
	                               <div class="search-box-branch">
	                               			<input type="text" data-toggle="tooltip" title="CIF" class="form-control input-sm numberOnly" id="cif_no" placeholder="CIF"  value="">
	                               </div>
	                               
	                       
	                               
	                                <div class="search-box-branch" data-toggle="tooltip" title="List Customer Type" id="listCusTypeArea"></div>
	                               
	                               <div class="search-box-branch" data-toggle="tooltip" title="Process Type">
		                               		<select  class="form-control input-sm" id="processType" name="processType">
		                             
		                                        <option selected>Last Contact</option>
		                                        <option>Initial</option>
		                                        <option>Update</option>
		                                        
		                                    </select>
	                               </div>
	                               
	                               
	                                <div class="search-box-branch" data-toggle="tooltip" title="Rule Group">
	                               			<select class="form-control input-sm" name="roleGroup" id="rule_group">
		                                        
		                                         <option value='' >All Rule Group</option>
												 <option>Cleansing</option>
												 <option>Mapping</option>
												 <option>Matching</option>
												 <option>Edit</option>
												 <option selected >KPI</option>
		                                    </select>
	                               </div>
	                               
	                                <div class="search-box-branch" id="listRuleArea" data-toggle="tooltip" title="Rule">
	                               			
	                               </div>
	                            
	                               
<!-- 	                               <div class="search-box-branch" data-toggle="tooltip" title="Validate Status"> -->
<!-- 	                               			<select class="form-control input-sm" id="validate_status" name=validate_status"> -->
		                                       
<!-- 		                                         <option value=''>All Validate Status</option> -->
<!-- 												 <option>incomplete</option>  -->
<!-- 												 <option>wrong</option> -->
<!-- 												 <option>complete</option> -->
<!-- 												 <option>correct</option> -->
<!-- 												 <option>transfer</option> -->
<!-- 		                                    </select> -->
<!-- 	                               </div> -->
	                               
	                               <div class="search-box-branch" data-toggle="tooltip" title="Is Customer">
	                               			<select class="form-control input-sm" id="is_customer" name="is_customer">
		                                         
		                                         <option value='' selected>All Is Customer</option>
												 <option value='1' >Yes</option> 
												 <option value='0'>No</option>
												
		                                    </select>
	                               </div>
	                               
	                               
	                               <div class="search-box-branch" data-toggle="tooltip" title="Explain Status">
	                               			<select class="form-control input-sm" name="explain_status" id="explain_status">
		                                       
		                                        <option value=''>All Explain Status</option>
												<option >1-Waiting </option>
												<option>2-Approved</option>
												<option>3-Not Approved</option>
												<option selected>4-Not Explain</option>
		                                       
		                                    </select>
	                               </div>
	                               
	                               <div class="search-box-branch" data-toggle="tooltip" title="Is Affiliation">
	                               			<select class="form-control input-sm" name="is_affiliation" id="is_affiliation">
		                                         <option value='' selected>All Is Affiliation</option>
												 <option value='1'>Yes</option> 
												 <option value='0'>No</option>
		                                        
		                                    </select>
	                               </div>
	                              
	                               
	                               <!-- Sequential  already-->
	                              
	                              <div class="search-box-branch-btn" >
	                              		<button type="button" id="btnSearchAdvance" class="btn btn-info  input-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-search"></i>&nbsp;Search&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
	                              </div>
	                               <br style="clear:both">
                               
                            </div> 
                            
                            
                            <!-- input search end  -->   
                           	</div>
                           </div>
                                
                            </div>
                        </div>
                    </div>
                
                <!-- SEARCH ADVANCE END -->
				</div>
				
                <div class="row" id="cifListArea">
                
                
                

                    <div class="col-lg-12">
                    
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>CIF List </h5>
                                
                               
                            </div>
                            <div class="ibox-content">
                            
                             <div class="row">
                                    <div class="col-sm-9 m-b-xs">
                                    
                                    <div class="label-branch">
                                    <b>Branch</b> : <span id='branchNameLabelArea'>-</span>
                                    </div>
                                    
                                    <div class="label-count-fail">
                                    <b>ผลลัพธ์การค้นหา</b> <span id='resultLabelArea'>-</span> ราย
                                    </div>
                                    
                                  
                                    
                                    </div>
                                    
                                     <div class="col-sm-3">
                                     	<div class='object-right'>
                                     	<form id='formExportToExcel' action="" method="post"  target="_blank" >
                                     		 <button type="button" id='exportToExcel' class="btn btn-info input-sm"><i class="fa fa-file-text-o"></i>&nbsp;Export to Excel</button>
                                    	</form>
                                     	</div>
                                     	<div class="">
			                       			<div class="input-group"><input type="text" placeholder="Search" id="searchText" class="input-sm form-control"> <span class="input-group-btn">
			                          		<button type="button" class="btn btn-sm btn-primary" id="btnSearch">&nbsp;<i class="fa fa-search"></i></button> </span></div>
			                    		</div> 
                                     </div>
                             </div>
                             
                              <!-- pagination start -->
                              <!-- 
	                             <div class="row">
	                                 <div class="col-sm-9 ">
										<span class="pagination_top"></span>
	                                 </div>
	                                 <div class="col-sm-3 object-right paging-text">
	                                
	                                	 <div class='pagingDropdown'>
	                                	 
		                                	 <select name="account" id='countPaginationTop'  class="form-control input-sm countPagination">
			                                     <option>10</option>
			                                     <option>20</option>
			                                     <option>50</option>
			                                     <option>100</option>
			                                 </select> 
			                                 
	                                	 </div>
										 <div class='pagingText'>Results per page</div>
	                                 
	                                 </div>
	                             </div> 
	                              -->
                               	 <!-- pagination end -->
                                
                                <div class="table-responsive">
                                    <table class="table table-striped" id="tableDataQuality">
                                        <thead>
                                        <tr>
                                             <th>No. </th>
                                             <th>CIF</th>
                                             <th>Customer Name</th>
                                             <th>Validate Date</th>
											 <th>Last Contact Branch</th> 
											 <th>Last Contact Date</th>
											 <th>Last Trans Date</th> 
											 <th>#Rules</th> 
											 <th>#Maxday</th> 
											 <th>Show Detail</th>
                                        </tr>
                                        </thead>
                                        <tbody id="listDataQuality">
                                        
                                        </tbody>
                                    </table>
                                </div>
                                
                                
                                 <!-- pagination start -->
	                             <div class="row">
	                                <div class="col-sm-9 ">
										<span class="pagination_bottom"></span>
	                                </div>
	                                 <div class="col-sm-3 object-right paging-text">
	                                 
	                                 	<div class='pagingDropdown'>
	                                 		
	                                 			 <select name="account" id='countPaginationBottom'  class="form-control input-sm countPagination">
				                                     <option>10</option>
				                                     <option>20</option>
				                                     <option>50</option>
				                                     <option>100</option>
				                                 </select> 
	                                 	
	                                 	</div>
										<div class='pagingText'>Results per page</div>
	                                 
	                                 
	                                 </div>
	                                 <!-- 
	                                 <div class="col-sm-1">
	                                	<select name="account" id='countPaginationBottom'  class="form-control input-sm countPagination">
		                                     <option>10</option>
		                                     <option>20</option>
		                                     <option>50</option>
		                                     <option>100</option>
		                                 </select> 
	                                </div>
	                                 -->
	                            </div> 
                               	 <!-- pagination end -->
								<br style='clear:both'>
                            </div>
                        </div>
                    </div>

                </div>

          

<div id="paramPagingDetail"></div>

<!-- Modal Start -->

  <div aria-hidden="true" role="dialog" tabindex="-1" id="modalDetail" class="modal inmodal" style="display: none;">
    <div class="modal-dialog modal-lg">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true"><i class='fa fa-times'></i></span><span class="sr-only">Close</span></button>
               
                <h4 class="modal-title">Show Detail</h4>
               
            </div>
            <div class="modal-body">
                <!-- content start -->
                <div class="ibox-content">
                             <div class="row">
                             	<div class="col-sm-12 title-detail">
		                             	<div class="alert alert-warning" id="detail_id">
		                             	
			                             	<br style="clear:both">
		                             	</div>
                             	</div>
                             	
                             </div>
                             <div class="row">
                                    <div class="col-sm-7 m-b-xs">
                                              
                                    <button id="btnEdit" class="btn btn-info " type="button"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</button>
                                    <button id="btnSubmit" class="btn btn-warning " type="button"><i class="fa fa-save"></i>&nbsp;Save</button>
                                    <button id="btnCancle" class="btn btn-danger " type="button"><i class="fa fa-reply-all"></i>&nbsp;Cancel</button>
 
                                    </div>
                                    <div class="col-sm-2"></div>
                                     <div class="col-sm-3">
                                    		 <div class="input-group">
	                                    		 <input type="text" class="input-sm form-control" id="searchTextDetail" placeholder="Search"> 
	                                    		 <span class="input-group-btn">
				                          			<button id="btnSearchDetail" class="btn btn-sm btn-primary" type="button">&nbsp;<i class="fa fa-search"></i></button> 
				                          		</span>
			                          		</div>
                                     </div>
                                    
                                
                             </div>
                             
                               <!-- pagination start -->
	                             <div class="row">
	                                <div class="col-sm-9 ">
										<span class="pagination_top2"></span>
	                                </div>
	                                 <div class="col-sm-2 object-right paging-text">Results per page</div>
	                                 <div class="col-sm-1">
	                                	<select name="countPaginationTop2" id='countPaginationTop2'  class="form-control input-sm countPagination2">
		                                     <option>10</option>
		                                     <option>20</option>
		                                     <option>50</option>
		                                     <option>100</option>
		                                 </select> 
	                                	</div>
	                               	</div> 
                               	 <!-- pagination end -->
                                
                                <div class="table-responsive">
                                    <table class="table table-striped" id="tableMakeRuleQuality">
                                        <thead>
                                        <tr>
                                            <th style='width:30px;'>No.</th>
                                             <th style='width:30px;'>RuleGroup</th>
                                             <th style='width:280px;'>Rule</th>
                                             <th style='width:50px;'>#Day</th>
                                             <th style='width:50px;'>KPI</th>
                                             <th style='width:100px;'>Validate Status</th>
                                             <th style='width:50px; text-align:center'>No Doc.</th>   
                                        </tr>
                                        </thead>
                                        <tbody id="tableDataMakeRuleQuality">
                                        
                                        </tbody>
                                    </table>
                                </div>
                                
                                
                               <!-- pagination start -->
	                             <div class="row">
	                                <div class="col-sm-9 ">
										<span class="pagination_bottom2"></span>
	                                </div>
	                                 <div class="col-sm-2 object-right paging-text">Results per page</div>
	                                 <div class="col-sm-1">
	                                	<select name="countPaginationBottom2" id='countPaginationBottom2'  class="form-control input-sm countPagination2">
		                                     <option>10</option>
		                                     <option>20</option>
		                                     <option>50</option>
		                                     <option>100</option>
		                                 </select> 
	                                	</div>
	                              </div> 
                               	 <!-- pagination end -->
								<br style='clear:both'>
                            </div>
                <!-- content end -->
            </div>
            <div class="modal-footer">
            	<input type="hidden" id="validate_header_id">
            	<input type="hidden" id="embed_param_count_rule">
            	<input type="hidden" id="embed_param_count_maxdays">
            	<span id='iconStatusDetailPage'></span>
            	<button class="btn btn-primary btn-explain" id="btn-explain" type="button">Explain</button>
                <button data-dismiss="modal" class="btn btn-white" type="button">Back</button>
                <div id="information" class="alert alert-warning"></div>
                
            </div>
        </div>
    </div>
</div>
                            
<!-- Modal End -->
<!-- Modal Start -->
<form id="explainForm"> 
  <div aria-hidden="true" role="dialog" tabindex="-1" id="exPlainModal" class="modal inmodal" style="display: none;">
    <div class="modal-dialog">
    
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true"><i class='fa fa-times'></i></span><span class="sr-only">Close</span></button>
                <!-- <i class="fa fa-laptop modal-icon"></i> -->
                <h4 class="modal-title">Explain</h4>
                <!-- 
                <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                 -->
            </div>
            
            <!-- id ที่จะรับ value -->
            <input type="hidden" id="explain_id">
            
            <div class="modal-body">
            
               
               	
               	
               	<div class="label-explain">
               	Remark
               	</div>
               	
               	<textarea id="explain_remark" class="form-control"></textarea>
               	
				<div>
					<div class="label-explain">
						Attachment :	
					</div>
					<div class="input-explain">
						<input type='file' name='explain_files_attachment' id='explain_files_attachment'  multiple>
						<div id="explain_files">
						
						<!-- <font color="red">* หมายเหตุ ลูกค้าเข้ามาติดต่อล่าสุดไม่เกิน 3 เดือน เหตุใดถึงไม่พบเอกสาร</font> -->
						</div>
					</div>
					<br style='clear:both'>
				</div>
				
				<div>
					<div class="label-explain">
						Explained By :	
					</div>
					<div class="input-explain" id="explain_user">
						
					</div>
				 <br style='clear:both'>
				</div>
				
				<div >
					<div class="label-explain" >
						Explained Date time :	
					</div>
					<div class="input-explain" id="explain_dttm">
						
					</div>
				 <br style='clear:both'>
				</div>
				
				<hr>
				
				
					
				<div>
					
					<div class="label-explain">
						For CDMD  :	
					</div>
					
					<div class="input-explain ">
						 
	  					 <input value='4' type="radio" disabled='disabled' name="cdmd_explain_status" id="cdmd_explain_no_explanation"> Not Explain 
	  					 <input value='1' type="radio" disabled='disabled' name="cdmd_explain_status" id="cdmd_explain_waiting"> Waiting  
	  					 <input value='2' type="radio" disabled='disabled' name="cdmd_explain_status" id="cdmd_explain_approve"> Approved  
	  					 <input value='3' type="radio" disabled='disabled' name="cdmd_explain_status" id="cdmd_explain_not_approved"> Not Approved 
	  					 
					</div>
				<br style='clear:both'>
				</div>
				<div>
					<div class="label-explain">
						Approved By :	
					</div>
					<div class="input-explain" id="approve_user">
						
					</div>
				 <br style='clear:both'>
				</div>
				
				<div >
					<div class="label-explain">
						Approved Date time :	
					</div>
					<div class="input-explain" id="approve_dttm">
					
					</div>
				 <br style='clear:both'>
				</div>

                <!-- content end -->
               
            </div>
            <div class="modal-footer">
            	
            	<input type='submit' class="btn btn-primary" type="button" id="btnSaveExplain" value='Save'>
                <button data-dismiss="modal" class="btn btn-white" type="button">Cancel</button>
                <div id="information2" class="alert alert-warning"></div>
                <div id="information3" class="alert alert-warning"></div>
            </div>
        </div>
    </div>
</div>
 </form>
                            
<!-- Modal End -->
<div id="embedParamArea"></div>
<script src="Controller/cDataQualityMonitoringBranch.js"></script>

