<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="css/file_management.css" rel="stylesheet">
<!--  nav bar -->
<div class="row wrapper border-bottom  page-heading" id="naviTitle" style="display:none;">
    <div class="col-lg-12">
     <div id="slide_status">
     	<div id="btnClose">×</div>
     	<div id="slide_status_area"></div>
     </div>
        <ol class="breadcrumb">
            <li>
                <a href="#/"><i class="fa fa-home "></i> Home</a>
            </li>
            <li>
            <i class="fa fa-gears"></i> System Management
            </li>
            <li class="active">
             <strong id="naviLabelMenu"><i class="fa fa-share-alt"></i> File </strong>
            </li>
        </ol>
    </div>
   
</div>
<!-- nav bar -->
                <div class="row">

                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>File List </h5>
                                 
                            </div>
                            <div class="ibox-content">
                            <div class="alert alert-success" hidden="hidden">
							    <p><strong>Success!</strong> This alert box could indicate a successful or positive action.</p>
							</div> 
                             <div class="row">
                                    <div class="col-sm-9 m-b-xs">
                                    <input type="hidden" id="action">
                                    	<button type="button" class="btn btn-info" id="btnEdit" data-target="#editModal" data-toggle="modal"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</button>
                                    	<button type="button" class="btn btn-warning" id="btnSubmit" data-target="#addModal" data-toggle="modal"><i class="fa fa-save"></i>&nbsp;Save</button>
                                    	<button type="button" class="btn btn-danger" id="btnCancle"><i class="fa fa-trash-o"></i>&nbsp;Cancel</button>
                                    </div>
                                    
                                     <div class="col-sm-3">
				                       <div class="input-group"><input type="text" placeholder="Search" id="searchText" class="input-sm form-control"> <span class="input-group-btn">
				                          <button type="button" class="btn btn-sm btn-primary" id="btnSearch">&nbsp;<i class="fa fa-search"></i></button> </span></div>
				                    </div> 
                             </div>
                             
                               <!-- pagination start -->
	                             <div class="row">
	                                <div class="col-sm-9 ">
										<span class="pagination_top"></span>
	                                </div>
	                                 <div class="col-sm-3 object-right paging-text">
	                                 
	                                 		<div class='pagingDropdown'>
	                                 				
	                                 				<select name="account" id='countPaginationTop'  class="form-control input-sm countPagination">
		                                    
					                                     <option>10</option>
					                                     <option>20</option>
					                                     <option>50</option>
					                                     <option>100</option>
					                                     
					                                 </select> 
	                                 				
		                                 	</div>	
											<div class='pagingText'>Results per page</div>
	                                 
	                                 </div>
	                                 <!-- 
	                                 <div class="col-sm-1">
	                                	<select name="account" id='countPaginationTop'  class="form-control input-sm countPagination">
		                                    
		                                     <option>10</option>
		                                     <option>20</option>
		                                     <option>50</option>
		                                     <option>100</option>
		                                     
		                                 </select> 
                                	</div>
                                	 -->
                                	
                               	</div> 
                               	 <!-- pagination end -->
                                
                                <div class="table-responsive">
                                    <table class="table table-striped" id="tableFile">
                                        <thead>
                                        <tr>

                                            <th style='text-align:center;'>Seq</th>
                                            <th>File Name </th>
                                            <th>Source File<br>Path </th>
                                            <th>Target File<br>Path </th>
                                            <th style='text-align:center;'>Contact<br>Type </th>
                                            <th style='text-align:center;'>KPI </th>
                                            <th style='text-align:center;'>Last <br>Contact</th>
                                            <th style='text-align:center;'>Delete</th>
                                            <th style='text-align:center;'>File Older <br>than (Days)</th>
                                        </tr>
                                        </thead>
                                        <tbody id="dataFileManagement">
                                      
                                       

                                        </tbody>
                                    </table>
                                </div>
                                
                                
                                <!-- pagination start -->
	                             <div class="row">
	                                <div class="col-sm-9 ">
										<span class="pagination_bottom"></span>
	                                </div>
	                                 <div class="col-sm-3 object-right paging-text">
	                                 
	                                 	<div class='pagingDropdown'>
                                			<select name="account" id='countPaginationBottom'  class="form-control input-sm countPagination">
			                                     <option>10</option>
			                                     <option>20</option>
			                                     <option>50</option>
			                                     <option>100</option>
			                                 </select> 
	                                 	</div>
										<div class='pagingText'>Results per page</div>
	                                 
	                                 </div>
	                                 <!-- 
	                                 <div class="col-sm-1">
	                                	<select name="account" id='countPaginationBottom'  class="form-control input-sm countPagination">
		                                     
		                                     
		                                     <option>10</option>
		                                     <option>20</option>
		                                     <option>50</option>
		                                     <option>100</option>
		                                 </select> 
                                	</div>
                                	 -->
                                	
                               	</div> 
                               	 <!-- pagination end -->
								<br style='clear:both'>
                            </div>
                        </div>
                    </div>

                </div>

           
    <!-- File -->
     <script src="Controller/cFileManagement.js"></script> 
  
</body>

</html>
