<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="css/grade_management.css" rel="stylesheet">
<!--  nav bar -->
<div class="row wrapper border-bottom  page-heading" id="naviTitle" style="display:none;">
    <div class="col-lg-12">
     <div id="slide_status">
     
    	 <div id="btnClose"><i class='fa fa-times'></i></div>
     	 <div id="slide_status_area"></div>
     	
     </div>
        <ol class="breadcrumb">
            <li>
                <a href="#/"><i class="fa fa-home "></i> Home</a>
            </li>
            <li>
            <i class="fa fa-gears"></i> System Management
            </li>
            <li class="active">
            <!-- <div id="naviLabelMenu"></div> -->
             <strong id="naviLabelMenu"><i class="fa fa-share-alt"></i>   </strong>
            </li>
        </ol>
    </div>
   
</div>
<!-- nav bar -->

                <div class="row">

                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
	                            <div class="ibox-title">
	                                <h5>Grade List </h5>
	                            </div>
	                            
                            <div class="ibox-content">
                            
	                            <div class="alert alert-success alertManagement" hidden="hidden">
									<strong>Success!</strong> บันทึกข้อมูลเรียบร้อย 
								</div>
								
                             <div class="row">
                                    <div class="col-sm-9">
                                    	<button type="button" class="btn btn-info " id="btnAdd" data-target="#managementModal" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add New Grade</button>
                                    </div>
                                     <div class="col-sm-3">
	                                     <div class="input-group"><input type="text" placeholder="Search" id="searchText" class="input-sm form-control"> <span class="input-group-btn">
                                         <button type="button" class="btn btn-sm btn-primary" id="btnSearch">&nbsp;<i class="fa fa-search"></i></button> </span></div>
                                     </div> 
                             </div>
                             
                       
                                
                                <div class="table-responsive">
                                    <table class="table table-striped" id="tableGrade">
                                        <thead>
                                        <tr>

                                            <th style='width:10%;'>No.</th>
                                            <th style='width:10%;'>Grade</th>
                                            <th style='width:60%;'>Decription</th>
                                            <th style='width:15%; text-align:center;'>Manage</th>
                                        </tr>
                                        </thead>
                                        <tbody id="listGrade">
                                        
	                                       
                                        </tbody>
                                    </table>
                                </div>
                                
                                
                              

                            </div>
                        </div>
                    </div>

                </div>

     



<!-- Add Modal Start -->

  <div aria-hidden="true" role="dialog" tabindex="-1" id="managementModal" class="modal inmodal" style="display: none;">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true"><i class='fa fa-times'></i></span><span class="sr-only">Close</span></button>
                <!-- <i class="fa fa-laptop modal-icon"></i> -->
                <h3 class="modal-title " id="modalTitleRole">Add New Grade</h3>
              
            </div>
            
            <div class="alert alert-success ManagementModal" hidden="hidden">
				<strong>Success!</strong> บันทึกข้อมูลเรียบร้อย 
			</div>
            
            <div class="modal-body">
                <!-- content start -->
                <h2><i class="fa fa fa-pencil-square-o icon-title "></i><span  id="modalDescription">ADD NEW GRADE</span> </h2>
                
                <hr>
                
                <!-- form start -->
                <div class='form-grade-mangement'>
	                <div class="form-grade-labelsep">
	                 <label>Seq </label>
	                </div>
	                
	                <div class="form-input-sep">
	                
	                	<input type="text" class="form-control input-sm numberOnly" placeholder="" id="processing_seq">
	                </div>
	                
                </div>
                
                <div class='form-grade-mangement'>
	                <div class="form-grade-labelsep">
	                
	                 <label>Grade</label>
	                </div>
	                
	                <div class="form-grade-input">
	                
	                	<input type="text" class="form-control input-sm " placeholder="" id="grade">
	                </div>
	                
                </div>

				<div class='form-grade-mangement'>
	                <div class="form-grade-label">
	                
	                <label>Grade Description</label>
	                </div> 
	            
	                <div class="form-grade-labeltext">
						<textarea class="form-control input-contact-textinput"  placeholder="" id="grade_name"></textarea>
	                </div>
                </div>
                

                
               
                <!-- form start -->
                <!-- content end -->
                <br style="clear:both">
            </div>
            <div class="modal-footer">
            	<input type="hidden" name="id" id="id" value="">
 				<input type="hidden" name="action" id="action" value="add"> 
               
                <button class="btn btn-primary" type="button" id="btnSubmit">Save</button>
                <button class="btn btn-primary" type="button" id="btnAddAnother">Save & Add Another</button>
                <button data-dismiss="modal" class="btn btn-white" type="button">Cancel</button>
                <div class="alert alert-warning information" id="information"></div>
                
            </div>
        </div>
    </div>
</div>                            
<!-- Add Modal End -->


<!-- Condition Start -->
<div aria-hidden="true" role="dialog" tabindex="-1" id="conditionModal" class="modal inmodal" style="display: none;">
    <div class="modal-dialog modal-lg">
    <div class="modal-content animated bounceInRight">
   
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true"><i class='fa fa-times'></i></span><span class="sr-only">Close</span></button>
                <!-- <i class="fa fa-laptop modal-icon"></i> -->
                <h3 class="modal-title">Condition</h3>
               
            </div>
            <div class="modal-body" style='background:white;'>
            
                <!-- content start -->
                <h2><i class="fa fa fa-pencil-square-o icon-title"></i>CONDITION</h2>
                <hr>
                <input type="hidden" id="embed_grade_id">
                
               <!-- form start -->
               <div class='form-grade-mangement'>
	                <div class="form-grade-label">
	                
	                 <label>Grade : </label>&nbsp;&nbsp;&nbsp;<font id="embed_grade_name"></font>
	                 
	                </div>
	            </div>
                <div class="row">
					<div class="col-sm-4">
						<div class="form-grade-input2" data-toggle="tooltip" title="Rule">
							<select class="input form-control" id="listRule">
					                <option value="0" >Rule Name</option>
					                <option></option>
		                     </select>
	                     </div>
	                </div>
	                <div class="col-sm-8">	   
                    
                         	<button type="button" class="btn btn-info" id="btnAddCondition"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add</button>
                         	<button  id="btnEdit" class="btn btn-warning" type="button"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</button>

                    </div>
                   
	
                    
                </div>
              
                <br style="clear:both">
                <div class="table-responsive" id="conditionTableArea">
                      <table id="conditionTable" class="table table-striped">
                            <thead>
                                 <tr>
                                      <th style='width:10%'>Seq</th>
                                      <th style='width:15%'>Operators</th>
                                      <th style='width:30%'>Rule</th>
                                      <th style='width:20%'>Complete</th>
                                      <th style='width:10%'>Manage</th>
                                  </tr>
                            </thead>
                            <tbody id="listCondition">                                       
	                            
	                                   
     						</tbody>
     				 </table>
     			</div>
                

                <!-- form start -->
                <!-- content end -->
            </div>
            <div class="modal-footer">
            	<input type="hidden" id="action_condition" value="add" name="action_condition">
            	<input type="hidden" id="action_new_condition" value="" name="action_new_condition">
            	<button class="btn btn-primary" type="button" id="btnSaveListCondition">Save</button>
            	<button type="button" class="btn btn-warning" id="btnCancelAddCondition">Cancel</button>
                <button data-dismiss="modal" class="btn btn-white" type="button" id="btnCancle">Close</button>
                <div id="information2" class="alert alert-warning information"></div>
            </div>
        </div>
    </div>
</div>  
<!-- Condition End -->                     
<!-- Modal Confirm Start -->
<div aria-hidden="true" role="dialog" tabindex="-1" id="confrimModal" class="modal inmodal in" style="display: none;">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true"><i class='fa fa-times'></i></span><span class="sr-only">Close</span></button>
                <h5 class="modal-title">Confirm Dialog</h5>
            </div>
            <div class="modal-body">
                <!-- content start -->
               
                <!-- form start -->
                <div class="form-kpi-mangement">
	                <div class="form-kpi-label" align="center">
	                
	                 		<label>Confirm to Delete Data?</label>
	                </div>
                </div>
                               
                <!-- form start -->
                <!-- content end -->
            </div>
            <div class="modal-footer">
            	<div align="center">
	                <button class="btn btn-success" id="btnConfirmOK" type="button">&nbsp;&nbsp;<i class="fa fa-check-circle"></i>&nbsp;&nbsp;Yes&nbsp;&nbsp;</button>&nbsp;&nbsp;
	                <button data-dismiss="modal" class="btn btn-danger" type="button"><i class="fa fa-times-circle"></i>&nbsp;Cancel</button>
            	</div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Confirm End -->
<script src="Controller/cGradeManagement.js"></script>



