<link href="css/menu_management.css" rel="stylesheet">
<!--  nav bar -->
<div class="row wrapper border-bottom  page-heading" id="naviTitle" style="display:none;">
    <div class="col-lg-12">
     <div id="slide_status">
     
         <div id="btnClose"><i class='fa fa-times'></i></div>
     	 <div id="slide_status_area"></div>
     
     </div>
        <ol class="breadcrumb">
            <li>
                <a href="#/"><i class="fa fa-home "></i> Home</a>
            </li>
            <li>
            <i class="fa fa-gears"></i> System Management
            </li>
            <li class="active">
             <strong id="naviLabelMenu"></strong>
            </li>
        </ol>
    </div>
   
</div>
<!-- nav bar -->
             <div class="row">
                 <div class="col-lg-12">
                     <div class="ibox float-e-margins">
                         <div class="ibox-title">
                             <h5>Menu List </h5>
		         </div>
                         <div class="ibox-content">
                         
                          <div class="row">
                                 <div class="col-sm-9 m-b-xs">
                                 
                                 	<button type="button" id="btnAdd" class="btn btn-info " data-target="#managementModal" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add New Menu</button>
     
                                 </div>
                                  <div class="col-sm-3">
	                       <div class="input-group"><input type="text" placeholder="Search" id="searchText" class="input-sm form-control"> <span class="input-group-btn">
	                          <button type="button" class="btn btn-sm btn-primary" id="btnSearch">&nbsp;<i class="fa fa-search"></i></button> </span></div>
	                    </div>
                          </div>
                          
                           
                             <div class="table-responsive">
                                 <table class="table table-striped" id="tableMenu">
                                     <thead>
                                     <tr>
                                         <th style='width:50px;'>No.</th>
                                         <th>Menu</th>
                                         <th style='width:80px;'><div class='objectCenter'>Authorize</div></th>
                                         <th style='width:80px;' align="center"><div class='objectCenter'>Manage</div></th>
                                     </tr>
                                     </thead>
                                     <tbody id="listMenu">
                                     </tbody>
                                 </table>
                             </div>
                             
                             
                         </div>
                     </div>
                 </div>

             </div>

<!--Add Modal Start -->

  <div aria-hidden="true" role="dialog" tabindex="-1" id="managementModal" class="modal inmodal" style="display: none;">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true"><i class='fa fa-times'></i></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id='modalTitleRole'>Add New Menu</h4>
                
            </div>
            <div class="modal-body">
                <!-- content start -->
                <h2><i class="fa fa fa-pencil-square-o icon-title"></i> <span id="modalDescription">ADD NEW MENU</span></h2>
                <span>All field marked with an asterisk(<font color="red">*</font>) are required.</span>
                <hr>
                
                <!-- form start -->
                
                <div class='form-menu-mangement'>
	                <div class="form-menu-label">
	                 <label>Menu Name</label>
	                 <span class="redFont">*</span>
	                </div>
	                
	                <div class="form-menu-input">
	                	<input type="text" class="form-control input-sm" placeholder="" name="menu_name" id="menu_name">
	                </div>
	                <br style="clear:both">
                </div>
                <div class='form-menu-mangement'>
	                <div class="form-menu-label">
	                 <label>URL</label>
	                 <span class="redFont">*</span>
	                </div>
	                
	                <div class="form-menu-input">
	                	<input type="text" class="form-control input-sm" placeholder="" name="" id="app_url">
	                </div>
	                <br style="clear:both">
                </div>
                <div class='form-menu-mangement'>
	                <div class="form-menu-label">
	                 <label>Menu Category</label>
	                 <span class="redFont">*</span>
	                </div>
	                
	                <div class="form-menu-input">
	                	<div class="radio radio-info radio-inline">
	                               <input type="radio" name="menuCategory" class="menuCategory"  id="DQManagement" value="MM" >
	                               <label for="DQManagement">DQ Management</label>
	                    </div>
	                    <div class="radio radio-info  radio-inline">
	                              <input type="radio" name="menuCategory" class="menuCategory" id="DQMornitoring" value="MN">
	                              <label for="DQMornitoring">DQ Monitoring</label>
	                    </div>
	                    <div class="radio radio-info  radio-inline">
	                              <input type="radio" name="menuCategory" class="menuCategory" id="report" value="RP">
	                              <label for="report">Report</label>
	                    </div>
	                </div>
	                <br style="clear:both">
                </div>

                <!-- form start -->
                <!-- content end -->
            </div>
            
            <div class="modal-footer">
            
            	<input type="hidden" name="id" id="id" value="">
 				<input type="hidden" name="action" id="action" value="add"> 
                <button class="btn btn-primary" type="button" name="btnSubmit" id="btnSubmit">Save</button>
                <button class="btn btn-primary" type="button" name="btnSaveAndAnother" id="btnSaveAndAnother">Save & Add Another</button>
                <button data-dismiss="modal" id="btnCancel" class="btn btn-white " type="button">Cancel</button>
                <div id="information" class="alert alert-warning information"></div>
               
               
            </div>
        </div>
    </div>
</div>
<!--Add Modal End -->

<!--Authorize Modal Start -->
<div aria-hidden="true" role="dialog" tabindex="-1" id="authorize" class="modal inmodal" style="display: none;">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true"><i class='fa fa-times'></i></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Authorize</h4>
               
            </div>
            <div class="modal-body">
                <!-- content start -->
                <h2><i class="fa fa fa-pencil-square-o icon-title"></i>AUTHORIZE</h2>
                <hr>
                
                <input type="hidden" id="embed_menu_id">
                
               <!-- form start -->
                <div class='form-region-mangement'>
	                <div class="form-region-label">	                
	                 	<label>Menu :</label>&nbsp;&nbsp;&nbsp;<font id ="menuname"></font>
	                </div>
	                <br style="clear:both">
                </div>
                
               	<div class="table-responsive">
                      <table class="table table-striped">
                            <thead>
                                 <tr>
                                      <th style='width:300px'>Select</th>
                                      <th style='width:150px'>Role</th>
                                  </tr>
                            </thead>
                            <tbody id="listRole">                                       
	                             
	                        </tbody>
	                 </table>
	            </div>

                <!-- form start -->
                <!-- content end -->
            </div>
            <div class="modal-footer">
            	<button class="btn btn-primary" id="btnSaveAuthorize" type="button">Save</button>
                <button data-dismiss="modal" class="btn btn-white" type="button">Cancel</button>
                <input type="hidden" id="menu_id" name="menu_id" value=""> 
                
            </div>
        </div>
    </div>
</div>
<!--authorize Modal End -->
<!-- Small modal start-->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
     
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Small modal end-->
<!-- Modal Confirm Start -->
<div aria-hidden="true" role="dialog" tabindex="-1" id="confrimModal" class="modal inmodal in" style="display: none;">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true"><i class='fa fa-times'></i></span><span class="sr-only">Close</span></button>
                <h5 class="modal-title">Confirm Dialog</h5>
            </div>
            <div class="modal-body">
               
                <!-- form start -->
                <div class="form-kpi-mangement">
	                <div class="form-kpi-label" align="center">
	                
	                 		<label>Confirm to Delete Data?</label>
	                </div>
                </div>
                               
                <!-- form start -->
                <!-- content end -->
            </div>
            <div class="modal-footer">
            	<div align="center">
	                <button class="btn btn-success" id="btnConfirmOK" type="button">&nbsp;&nbsp;<i class="fa fa-check-circle"></i>&nbsp;&nbsp;Yes&nbsp;&nbsp;</button>&nbsp;&nbsp;
	                <button data-dismiss="modal" class="btn btn-danger" type="button"><i class="fa fa-times-circle"></i>&nbsp;Cancel</button>
            	</div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Confirm End -->
<script src="Controller/cMenuManagement.js"></script>

