<link href="css/rolemanagement.css" rel="stylesheet">	
<!--  nav bar -->
<div class="row wrapper border-bottom  page-heading" id="naviTitle" style="display:none;">
    <div class="col-lg-12">
     <div id="slide_status">
     
         <div id="btnClose">×</div>
     	 <div id="slide_status_area"></div>
     
     </div>
        <ol class="breadcrumb">
            <li>
                <a href="#/"><i class="fa fa-home "></i> Home</a>
            </li>
            <li>
            <i class="fa fa-gears"></i> System Management
            </li>
            <li class="active">
             <strong id="naviLabelMenu"><i class="fa fa-share-alt"></i> Role </strong>
            </li>
        </ol>
    </div>
   
</div>
<!-- nav bar -->


				<div class="row"><!-- start--row -->

                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                       
					         	<div class="ibox-title">
	                                <h5>Role List </h5>
	         					</div>
	         					
	         					<div class="ibox-content"> 

         							<div id="btnTopManageArea" class="row ">
         							
         								<div class="col-sm-9 m-b-xs">
	                                   		<button type="button" class="btn btn-info" id="btnAddRole" data-target="#addModalRole" data-toggle="modal"><i class="fa fa-plus-square"></i>&nbsp;Add New Role</button>	                                    	
	                                    </div>
	                                     <div class="col-sm-3">
					                       <div class="input-group"><input type="text" placeholder="Search" id="searchText" class="input-sm form-control"> <span class="input-group-btn">
					                          <button type="button" class="btn btn-sm btn-primary" id="btnSearch">&nbsp;<i class="fa fa-search"></i></button> </span></div>
					                    </div> 
         							</div>
         								
                                    	<!-- start table -->
                                    	<div class="table-responsive">
                                   		<table class="table table-striped" id="tableRole">
                                        <thead>
                                        <tr>
                                            <th style='width:50px;'>No.</th>
                                            <th>Role Name</th>
                                            <th style='width:80px;'><div class='objectCenter'>Authorize</div></th>
                                            <th style='width:80px;' align="center"><div class='objectCenter'>Manage</div></th>
                                        </tr>
                                        </thead>
                                        <tbody id="listRole">
                                        
                                       
                                        
                                        </tbody>
                                        </table>
                                        </div>
                                        
                                    	<!-- end table -->
                                	
         						</div><!-- content end -->
         					</div>
         				</div>
	
         			</div><!-- end--row -->
         		
	
<!-- Modal Start Edit -->

  <div aria-hidden="true" role="dialog" tabindex="-1" id="editModalRole" class="modal inmodal" style="display: none;">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">ร—</span><span class="sr-only">Close</span></button>
                <!-- <i class="fa fa-laptop modal-icon"></i> -->
                <h4 class="modal-title">Edit Role</h4>
               
            </div>
            <div class="modal-body">
                <!-- content start -->
                <h2><i class="fa fa fa-folder-open icon-title"></i>EDIT ROLE</h2>
                <hr>
                
                <!-- form start -->
                <div class='form-file-mangement'>
	                <div class="form-label-role">
	                	Role Name
	                </div>
	                
	                <div class="form-input-role">
	                	<input type="text" class="form-control input-sm" placeholder="" id="role_name_edit" name="role_name_edit">
	                </div>
	                
	                <br style="clear:both">
	                
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-white btnCancle" type="button">Cancel</button>
                <button class="btn btn-primary" type="button" id="btnSubmitEdit" name="btnSubmitEdit">Save</button>
            </div>
        </div>
    </div>
</div>                      
                 
<!-- Modal End Edit -->
	
<!-- Modal Start -->
  <div aria-hidden="true" role="dialog" tabindex="-1" id="addModalRole" class="modal inmodal" style="display: none;">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <!-- <i class="fa fa-laptop modal-icon"></i> -->
                <h4 class="modal-title" id="modalTitleRole">Add New Role</h4>
               
            </div>
            <div class="modal-body">
                <!-- content start -->
                <h2 class="modal-title"><i class="fa fa fa-folder-open icon-title"></i> <span id='modalDescription'>ADD NEW ROLE</span></h2>
                <span>All field marked with an asterisk(<font color="red">*</font>) are required.</span>
                <hr>
                
                <!-- form start -->
                <div class='form-file-mangement'>
	                <div class="form-label-role">
	                	Role Name
	                </div>
	                
	                
	                <div class="form-input-role">
	                	<input type="text" class="form-control input-sm" placeholder="" id="role_name" name="role_name">
	               		  
                	    <div class="checkbox checkbox-inline">
                        	<input type="checkbox" name="CheckboxInline" id="authority_checkbox_role">
                        	<label for="CheckboxInline"> Have Authority on Data Quality Monitoring</label>
                        </div> 
                        
                        <div class="checkbox checkbox-inline">
                        	<input type="checkbox" name="all_brach_checkbox_role" id="all_brach_checkbox_role">
                        	<label for="all_brach_checkbox_role"> All Branch</label>
                        </div> 
                        
	                </div>
	                       
	                
	                <br style="clear:both">
	               
                </div>
            </div>
            <div class="modal-footer">
            	<input type="hidden" name="id" id="id" value="">
   				<input type="hidden" name="action" id="action" value="add">
   				
   				<button class="btn btn-primary" type="button" id="btnSubmit" name="btnSubmit">Save</button>
   				<button class="btn btn-primary" type="button" id="btnSaveAndAnother" name="btnSaveAndAnother">Save & Add Another</button>
                <button data-dismiss="modal" class="btn btn-white btnCancle"  type="button">Cancel</button>
                <div id="information" class="alert alert-warning"></div>
            </div>
        </div>
    </div>
</div>                      
<!-- Modal End -->

<!-- ModalAuthorize Start -->
  <div aria-hidden="true" role="dialog" tabindex="-1" id="ModalRoleAuthorize" class="modal inmodal" style="display: none;">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <!-- <i class="fa fa-laptop modal-icon"></i> -->
                <h4 class="modal-title">Authorize</h4>
               
            </div>
            <div class="modal-body">
                <!-- content start -->
                <h2><i class="fa fa-pencil-square-o icon-title"></i>AUTHORIZE</h2>
                <hr>
                
                <!-- form start -->
                <div class='form-file-mangement'>
	                <div class="form-label-role">
	                	<strong>Role</strong> : <strong id='label-name-role'></strong>
	                
	                </div>
                </div>
                
                <div class="table-responsive">
                   <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Menu</th> 
                            </tr>
                        </thead>
                        <tbody id="listMenu">
                            
                        </tbody>
                    </table>
                
            </div>
            <div class="modal-footer">
            	<input type="hidden" id="role_id" class="" name="role_id" value="">
            	 <button class="btn btn-primary" id="btnSaveAuthorize" type="button">Save</button>
                <button data-dismiss="modal" class="btn btn-white btnCancle" type="button">Cancel</button>
               
            </div>
        </div>
    </div>
	</div>    
</div>                  
<!-- Modal End -->

<!-- Modal Confirm Start -->
<div aria-hidden="true" role="dialog" tabindex="-1" id="confrimModal" class="modal inmodal in" style="display: none;">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h5 class="modal-title">Confirm Dialog</h5>
            </div>
            <div class="modal-body">
                <!-- content start -->
               
                <!-- form start -->
                <div class="form-kpi-mangement">
	                <div class="form-kpi-label" align="center">
	                
	                 		<label>Confirm to Delete Data?</label>
	                </div>
                </div>
                               
                <!-- form start -->
                <!-- content end -->
            </div>
            <div class="modal-footer">
            	<div align="center">
	                <button class="btn btn-success" id="btnConfirmOK" type="button">&nbsp;&nbsp;<i class="fa fa-check-circle"></i>&nbsp;&nbsp;Yes&nbsp;&nbsp;</button>&nbsp;&nbsp;
	                <button data-dismiss="modal" class="btn btn-danger" type="button"><i class="fa fa-times-circle"></i>&nbsp;Cancel</button>
            	</div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Confirm End -->
<script src="Controller/cRoleManagement.js"></script> 
	
    
</body>