<link href="css/rulemanagement.css" rel="stylesheet">
<!--  nav bar -->
<div class="row wrapper border-bottom  page-heading" id="naviTitle" style="display:none;">
    <div class="col-lg-12">
     <div id="slide_status">
		flash.
	</div>
        <!-- <h2><i class="fa fa fa-folder-open icon-title"></i> User </h2> -->
        <ol class="breadcrumb">
            <li>
                <a href="#/"><i class="fa fa-home "></i> Home</a>
            </li>
            <li>
            <!-- <div id="naviLabelCateMenu"> </div>-->
            <i class="fa fa-gears"></i> System Management
            </li>
            <li class="active">
            <!-- <div id="naviLabelMenu"></div> -->
             <strong id="naviLabelMenu"><i class="fa fa-share-alt"></i> Rule </strong>
            </li>
        </ol>
    </div>
   
</div>
<!-- nav bar -->

<div class="row"><!-- start--row -->

          <div class="col-lg-12">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h5>Advance Seach </h5>
				</div>
				
					<div class="ibox-content"> 
						<div class="row">
                           <div class="col-sm-3 m-b-xs">
                            <select data-toggle="tooltip" title="Rule Group" class="input form-control input-sm" id="ruleGroup">
                               <option>  All</option>
				               <option> Cleansing</option>
								<option> Mapping</option>
								<option> Matching</option>
								<option> Edit</option>
								<option> KPI</option>
								
							</select>
						</div>

					<div class="col-sm-4 m-b-xs">            
						<input data-toggle="tooltip" title="Rule Name" class="form-control input-sm" placeholder="Rule Name" type="text" id="ruleName" name="ruleName">		
					</div>
                        		
                           <div class="col-sm-3" align="right">
								<div class="checkbox" id="checkbox-head">
									<input id="checkboxInitialSearch"  type="checkbox">
									<label for="checkboxInitialSearch">Initial</label>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										
									<input id="checkboxUpdateSearch"  type="checkbox">
									<label for="checkboxUpdateSearch">Update</label>
									
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<input id="checkboxContactSearch" type="checkbox">
									<label for="checkboxContactSearch">Last Contact</label>
								</div>
                          	</div>
                          
                           	 <div class="col-sm-2" align="right">
                            	<div class="input-group" >
                             	<div >
                                		<button type="button" class="btn btn-info" id="btnSearchAdvance"><i class="fa fa-search"></i>&nbsp;Search</button>
                                	</div>
                               	</div>
                           	</div>
                   		</div>
   		</div><!-- content end -->
 		</div>
 		
	</div>

</div><!-- end--row -->

<div class="row">
 		<div class="col-lg-12">
  		<div class="ibox-title">
                     <h5>Rule List </h5>
			</div>
			
			
			<div class="ibox-content"> 

				<div class="row">
					<div class="col-sm-9 m-b-xs">
                        		<button id="btnAddRule" type="button" class="btn btn-info " data-target="#addModalRule" data-toggle="modal"><i class="fa fa-plus-square"></i>&nbsp;Add New Rule</button>	
                        		<button id="btnEditFlag" class="btn btn-info edit_flag" type="button"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit Flag</button>       
                        		<button id="btnSubmitFlag" class="btn btn-warning " type="button"><i class="fa fa-save"></i>&nbsp;Save</button>
                        		<button id="btnCancleFlag" class="btn btn-danger " type="button"><i class="fa fa-trash-o"></i>&nbsp;Cancel</button>                            	
                    </div> 
                    <div class="col-sm-3">
                       <div class="input-group"><input type="text" placeholder="Search" id="searchText" class="input-sm form-control"> <span class="input-group-btn">
                          <button type="button" class="btn btn-sm btn-primary" id="btnSearch">&nbsp;<i class="fa fa-search"></i></button> </span></div>
                    </div> 
				</div>
				
								<!-- pagination start -->
	                             <div class="row">
	                                <div class="col-sm-9 ">
										<span class="pagination_top"></span>
	                                </div>
	                                 <div class="col-sm-2 object-right paging-text">Results per page</div>
	                                 <div class="col-sm-1">
	                                	<select name="account" id='countPaginationTop'  class="form-control input-sm countPagination">
		                                     <option>10</option>
		                                     <option>20</option>
		                                     <option>30</option>
		                                     <option>40</option>
		                                 </select> 
	                                	</div>
	                               	</div> 
                               	 <!-- pagination end -->
                        	<!-- start table -->
                        	<div class="table-responsive">
                       		<table class="table table-striped" id="tableRule">
                            <thead>
                            <tr>
                                <th>Rule Group</th>
                                <th>Rule Name </th>
                                <th>Dataflow</th>
                                <th>Initial</th>
                                <th>Update</th>
                                <th>Last Contact</th>
                                <th>Inform</th>
                                <th>Edit Release</th>
                                <th>Manage</th>
                            </tr>
                            </thead>
                            <tbody id="listRule">
                           
                            
                            </tbody>
                            </table>
                            </div>
                            
                        	<!-- end table -->
                        	<!-- pagination start -->
	                             <div class="row">
	                                <div class="col-sm-9 ">
										<span class="pagination_bottom"></span>
	                                </div>
	                                 <div class="col-sm-2 object-right paging-text">Results per page</div>
	                                 <div class="col-sm-1">
	                                	<select name="account" id='countPaginationBottom'  class="form-control input-sm countPagination">
		                                     <option>10</option>
		                                     <option>20</option>
		                                     <option>30</option>
		                                     <option>40</option>
		                                 </select> 
	                                	</div>
	                               	</div> 
                               	 <!-- pagination end -->
                        	
                    	
                    	
			</div><!-- content end -->
		</div>
		</div>
         		

	
<!-- Modal Start -->
  <div aria-hidden="true" role="dialog" tabindex="-1" id="addModalRule" class="modal inmodal" style="display: none;">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button data-dismiss="modal" class="close input-sm" type="button"><span aria-hidden="true">ร—</span><span class="sr-only">Close</span></button>
                <!-- <i class="fa fa-laptop modal-icon"></i> -->
                <h4 class="modal-title" id="modalTitleRole">Add New File</h4>
                <!-- 
                <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                 -->
            </div>
            <div class="modal-body">
                <!-- content start -->
                <h2><i class="fa fa fa-folder-open icon-title"></i> <span id='modalDescription'>ADD NEW FILE</span></h2>
                <hr>
                
                <!-- form start -->
                <div class='form-file-mangement'>
	                <div class="form-label-rule">
	                
	                Rule Name
	                </div>
	                
	                <div class="form-input-rule">
	                
	                	<input type="text" class="form-control input-sm" id="rule_name" placeholder="">
	                </div>
	                <br style="clear:both">
                </div>
                
                <div class='form-file-mangement'>
	                <div class="form-label-rule">
	                
	               Rule Group
	                </div>
	                
	                <div class="form-input-rule">
	                	<select class="input form-control input-sm" id="rule_group_id">
			               <option>  All</option>
			               <option> Cleansing</option>
							<option> Mapping</option>
							<option> Matching</option>
							<option> Edit</option>
							<option> KPI</option>
						</select>
	                </div>
	                <br style="clear:both">
                </div>
                
                <div class='form-file-mangement'>
	                <div class="form-label-rule">
	                
	                Data flow
	                </div>
	                
	                <div class="form-input-rule">
		                <select class="input form-control input-sm" id="data_flow_id">
			                
						</select>
	                </div>
	                <br style="clear:both">
                </div>
             
                <div class='form-file-mangement-radio'>
	                <div class="form-label-rule ">
	                Process
	                </div>
	                <div class="form-input-radio-rule">
	                
	                	<div class="checkbox checkbox-inline">
	                	
		                	<input id="checkboxInitial" type="checkbox" class="processType">
							<label for="checkboxInitial">Initial</label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							
							<input id="checkboxUpdate"  type="checkbox" class="processType">
							<label for="checkboxUpdate">Update</label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							
							<input id="checkboxContact" type="checkbox" class="processType">
							<label for="checkboxContact">Last Contact</label>
                     	</div>            
                     	  
	                </div>
	                <br style="clear:both">
                </div>
                
                <div class='form-file-mangement-radio'>
	                <div class="form-label-rule">
	                Inform Branch
	                </div>
	                
	                <div class="form-input-radio-rule">          	
		                	<div class="radio radio-info radio-inline">
                               <input type="radio" checked='checked' name="InformBranchRadio" id="InformBranchRadioTrue">
                               <label for="inlineRadio1"> Yes </label>
                           </div>
                           <div class="radio radio-inline">
                              <input type="radio" name="InformBranchRadio" id="InformBranchRadioFalse">
                              <label for="inlineRadio2"> No </label>
                          </div> 
	                </div>
	                
	                <br style="clear:both">
                </div>
                
                <div class='form-file-mangement-radio'>
	                <div class="form-label-rule">
	               	Edit Rule Release
	                </div>
	                
	                <div class="form-input-radio-rule">
	                	
		                	<div class="radio radio-info radio-inline">
                               <input type="radio" checked='checked' name="EditRuleRelease" id="EditRuleReleaseTrue">
                               <label for="inlineRadio1"> Yes </label>
                           </div>
                           
                           <div class="radio radio-inline">
                              <input type="radio" name="EditRuleRelease" id="EditRuleReleaseFalse">
                              <label for="inlineRadio2"> No </label>
                          </div>
	                       
	                </div>  <div id="log"></div>
	                <br style="clear:both">
                </div>
                
                <!-- form start -->
                <!-- content end -->
            </div>
            <div class="modal-footer">
            	<input type="hidden" name="id" id="id" value="">
   				<input type="hidden" name="action" id="action" value="add">
            	<button class="btn btn-primary" type="button" id="btnSubmit">Save</button>
            	<button class="btn btn-primary" type="button" name="btnSaveAndAnother" id="btnSaveAndAnother">Save & Add Another</button>
                <button data-dismiss="modal" class="btn btn-white" type="button">Cancel</button>
                <div id="information" class="alert alert-warning"></div>
            </div>
        </div>
    </div>
</div>                      
<!-- Modal End -->
<!-- Modal Confirm Start -->
<div aria-hidden="true" role="dialog" tabindex="-1" id="confrimModal" class="modal inmodal in" style="display: none;">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h5 class="modal-title">Confirm Dialog</h5>
            </div>
            <div class="modal-body">
                <!-- content start -->
                <!-- <h2><i class="fa fa fa-pencil-square-o icon-title"></i> ADD NEW GRADE</h2>
                <hr>
                 -->
                <!-- form start -->
                <div class="form-kpi-mangement">
	                <div class="form-kpi-label" align="center">
	                
	                 		<label>Confirm to Delete Data?</label>
	                </div>
                </div>
                               
                <!-- form start -->
                <!-- content end -->
            </div>
            <div class="modal-footer">
            	<div align="center">
	                <button class="btn btn-success" id="btnConfirmOK" type="button">&nbsp;&nbsp;<i class="fa fa-check-circle"></i>&nbsp;&nbsp;Yes&nbsp;&nbsp;</button>&nbsp;&nbsp;
	                <button data-dismiss="modal" class="btn btn-danger" type="button"><i class="fa fa-times-circle"></i>&nbsp;Cancel</button>
            	</div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Confirm End -->
<script src="Controller/cRuleManagement.js"></script> 

