<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="css/report_telephone_number.css" rel="stylesheet">
<!--  nav bar -->
<div class="row wrapper border-bottom  page-heading" id="naviTitle" style="display:none;">
    <div class="col-lg-12">
     <div id="slide_status">
     
          	 <div id="btnClose"><i class='fa fa-times'></i></div>
     	 	 <div id="slide_status_area"></div>
     
     </div>
        <ol class="breadcrumb">
            <li>
                <a href="#/"><i class="fa fa-home "></i> Home</a>
            </li>
            <li>
            <i class="fa fa-bar-chart-o"></i> Report
            </li>
            <li class="active">
             <strong id="naviLabelMenu"><i class="fa fa-share-alt"></i> </strong>
            </li>
        </ol>
    </div>
   
</div>
<div class="row">
	<!--  SEARCH ADVANCE START -->
            
            <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Advance Search </h5>
                        </div>
                        <div class="ibox-content">
                        
                        <div class='row'>
                        	<div class="col-sm-9 m-b-xs">
                          	</div>
                           	<div class="col-sm-3">
				           		<div class="input-group"><input onkeypress="return numbersonly(event)" placeholder="Telephone Number" id="tel" class="input-sm form-control numberOnly" type="text" maxlength="10"> <span class="input-group-btn">
				            	<button type="button" class="btn btn-sm btn-primary" id="btnAdvanceSearch">&nbsp;<i class="fa fa-search"></i>&nbsp;Search</button> </span></div>
				           	</div>
                        	
                        </div>
                        <!-- input search end  -->   
                        </div>
                    </div>
                </div>
            
            <!-- SEARCH ADVANCE END -->
</div>
<div class="row display_result">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">

                  </div>
                  <div class="ibox-content">
                  
                   
                   
                   
                    <!-- pagination start -->
                    <!-- 
                      <div class="row">
                         <div class="col-sm-9 ">
						 <span class="pagination_top"></span>
                         </div>
                          <div class="col-sm-2 object-right paging-text">Results per page</div>
                          <div class="col-sm-1">
                         	<select name="account" id='countPaginationTop'  class="form-control input-sm countPagination">
                               <option>10</option>
                               <option>20</option>
                               <option>50</option>
                               <option>100</option>
                           </select> 
                         	</div>
                       </div> 
                        -->
             <!-- pagination end -->
             	<div class='row'>
                	<div class="col-lg-12">
			        	<div class="table-responsive">
			               <!-- table-striped -->
			               
			            	   <table class="table" id="reportTelephoneNumberTable">
			                            <thead>
			                            <tr  class="active">
			                                 <th style="width:30%">Tel No.</th>
			                                 <th style="width:30%">CIF No.</th>
			                                 <th style="width:40%">CIF Name</th>
			                            </tr>
			                            </thead>
			                            <tbody id="listData">
			                      	 	</tbody>
			                   </table>
			               </div>
			           </div>
			      </div> 
   
			      
			       <!-- pagination start -->
			       <!-- 
                    <div class="row">
                       <div class="col-sm-9 ">
						<span class="pagination_bottom"></span>
                       </div>
                        <div class="col-sm-2 object-right paging-text">Results per page</div>
                        <div class="col-sm-1">
                       	<select name="account" id='countPaginationBottom'  class="form-control input-sm countPagination">
                             <option>10</option>
                             <option>20</option>
                             <option>50</option>
                             <option>100</option>
                         </select> 
                       	</div>
                     </div> 
                      -->
              <!-- pagination end -->
                
			      
			         
            </div>
        </div>
    </div>

</div>
<div class='paramEmbedArea'></div>
<script src="Controller/cReportTelephoneNumber.js"></script>

