<link href="css/user_management.css" rel="stylesheet">
<script src="Controller/cUserManagement.js"></script> 

<!--  nav bar -->
<div class="row wrapper border-bottom  page-heading" id="naviTitle" style="display:none;">
    <div class="col-lg-12">
     <div id="slide_status">
		  <div id="btnClose">×</div>
     	 <div id="slide_status_area"></div>
	</div>
        <ol class="breadcrumb">
            <li>
                <a href="#/"><i class="fa fa-home "></i> Home</a>
            </li>
            <li>
            <i class="fa fa-gears"></i> System Management
            </li>
            <li class="active">
             <strong id="naviLabelMenu"><i class="fa fa-share-alt"></i> User </strong>
            </li>
        </ol>
    </div>
   
</div>
<!-- nav bar -->
				<div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                        
                           <div class="ibox-title">
                                <h5><i class="fa fa-search"></i>  Advance Search</h5>
                            </div>
                            <div class="ibox-content">
                            	 <div class="row">
                            	 
                                    <div class="col-sm-2">
 												
										<input data-toggle="tooltip" title="Personnel ID" class="form-control input-sm" id="personnelID" placeholder="Personnel ID">
									</div>
									<div class="col-sm-2">
										<input data-toggle="tooltip" title="Own CostCenter" class="form-control input-sm" id="ownCostCenter" placeholder="Own CostCenter">
									</div>
									<div class="col-sm-2">
										<input data-toggle="tooltip" title="Revised CostCenter" class="form-control input-sm" id="revisedCostCenter" placeholder="Revised CostCenter">
									</div>
									<div data-toggle="tooltip" title="Role" class="col-sm-2" id="listRoleArea">
										
	                                </div>
	                                <div class="col-sm-2">
				                        <select data-toggle="tooltip" title="Is Active" class="form-control input-sm" id="isActive">
				                              <option value="">All Is Active</option>
				                              <option value="1">Yes</option>
				                              <option value="0">No</option>
				                        </select>
									</div>
                                     <div class="col-sm-2" align="right">	                                
                                         <button id="btnAdvanceSearch" type="button" class="btn btn-info btn-sm"><i class="fa fa-search"></i>&nbsp;&nbsp;Search</button>
                                     </div>
                             	</div>
                             	
                            </div>
                            
                            </div>
                       </div>
                   </div>
                            
                  <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">      
                            
                            <div class="ibox-title">
                                <h5><i class="fa fa-user"></i> User List </h5>     
                            </div>
                            <div class="ibox-content">
	                             <div class="row " >
	                                    <div class="col-sm-8">
	                                    	<div class="areaAction">
			                                    <button type="button" class="btn btn-info btn-sm" id="btnEdit"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</button>
			                                    <button type="button" class="btn btn-warning btn-sm" id="btnSave"><i class="fa fa-save"></i>&nbsp;Save</button>
			                                    <button type="button" class="btn btn-danger btn-sm" id="btnCancel"><i class="fa fa-trash-o"></i>&nbsp;Cancel</button>
		                                    </div>
	                                    </div>
	                                    <div class="col-sm-4 " align="right">
	                                     	<form id="formExportToExcel" method="post"action="">
	                                     
	                                     		<input type="hidden" name="personnel_id" id="export_personnel_id" value="">
	                                     		<input type="hidden" name="own_cost_center" id="export_own_cost_center" value="">
	                                     		<input type="hidden" name="revised_cost_center" id="export_revised_cost_center" value="">
	                                     		<input type="hidden" name="role_id" id="export_role_id" value="">
	                                     		<input type="hidden" name="active_flag" id="export_active_flag" value="">
	                                     		
	                             				<button type="submit" id="exportToExcel" class="btn btn-info btn-sm"><i class="fa fa-download"></i>&nbsp;&nbsp;Export to Excel</button>
	                             			</form>
	                             			
	                             		</div>
	                             		<div class="col-sm-9"></div>
	                                    <div class="col-sm-3">
		                                     <div class="input-group"><input type="text" placeholder="Search" id="searchText" class="input-sm form-control"> <span class="input-group-btn">
	                                         <button type="button" class="btn btn-sm btn-primary" id="btnSearch">&nbsp;<i class="fa fa-search"></i></button> </span></div>
	                                     </div> 
	                                     
	                                      <input type="hidden" name="id" id="id" value="">
                                    	  <input type="hidden" name="action" id="action" value="add">
	                             </div>
                             
	                               <!-- pagination start -->
                                   	<div class="row">
                                    	<div class="col-sm-9 ">

											<span class="pagination_top"></span>
                   
                                    	</div>
                                    
	                                    <div class="col-sm-3 object-right paging-text">
	                                    
	                                    		<div class='pagingDropdown'>
	                                    				<select name="account" id='countPaginationTop'  class="form-control input-sm countPagination">
	                                         
					                                         <option>10</option>
						                                     <option>20</option>
						                                     <option>50</option>
						                                     <option>100</option>
					                                    </select> 
	                                    		
	                                    		</div>
												<div class='pagingText'>Results per page</div>
	                                    
	                                    </div>
	                                     <!-- 
	                                    <div class="col-sm-1">
                                     
                                    	<select name="account" id='countPaginationTop'  class="form-control input-sm countPagination">
	                                         
	                                         <option>10</option>
		                                     <option>20</option>
		                                     <option>50</option>
		                                     <option>100</option>
	                                    </select> 
                                        
                                    	</div>
                                    	 -->
                                   	</div> 
                                   	 <!-- pagination end -->
                                    	 
	                                
                                <div class="table-responsive">
                                    <table class="table table-striped" id="tableUser">
                                        <thead>
                                        <tr>

                                            <th style='width:170px;'>Personnel Name</th>
                                            <th style='width:170px;'>Position</th>
                                            <th style='width:170px;'>Branch Operation</th>
                                            <th style='width:170px;'>Own Cost Center</th>
                                            <th style='width:40px; text-align:center;'>Revised CostCenter</th>
                                            <th style='width:40px; text-align:center;'>Role</th>
                                            
                                        </tr>
                                        </thead>
                                        <tbody id="listUser">
                                                 
                                        </tbody>
                                    </table>
                                </div>
                                
                                
                               		<!-- pagination start -->
                                   	<div class="row">
                                    	<div class="col-sm-9">

											<span class="pagination_bottom"></span>
                   
                                    	</div>
                                    
	                                    <div class="col-sm-3 object-right paging-text">
	                                    		<div class='pagingDropdown'>
	                                    		
	                                    			<select name="account" id='countPaginationBottom'  class="form-control input-sm countPagination">
	                                        
				                                         <option>10</option>
					                                     <option>20</option>
					                                     <option>50</option>
					                                     <option>100</option>
				                                    </select> 
	                                    		
	                                    		</div>
												<div class='pagingText'>Results per page</div>
	                                    
	                                    </div>
	                                    <!-- 
	                                    <div class="col-sm-1">
                                     
                                    	<select name="account" id='countPaginationBottom'  class="form-control input-sm countPagination">
	                                        
	                                         <option>10</option>
		                                     <option>20</option>
		                                     <option>50</option>
		                                     <option>100</option>
	                                    </select> 
                                        
                                    	</div>
                                    	 -->
                                   	</div> 
                                   	 <!-- pagination end -->
									<br style='clear:both'>
                            </div>
                        </div>
                    </div>

                </div>

   
    
   




