.font-management{
	font-size:20px;
	cursor:pointer;
	
}
.form-grade-mangement{
	height:35px;
	/*padding-top: 7px;*/
}

.form-grade-label{
	float:left;
	width:140px;
}
.form-grade-input{
	float:left;
	width: 390px;
	
}
.form-grade-labeltext{
	float:left;
	width: 390px;
	
}
.form-grade-input2{
	float:left;
	width: 280px;
}
.form-grade-input3{
	float:left;
	width: 50px;
}
.input-contact-textinput{
	height:70px;
	resize:none;
}
.input-contact-selecttype{
	width:80px;
}
.form-input-sep{
	float:left;
	width:100px;
}
.form-grade-labelsep{
	float:left;
	width:140px;
}
.font-gear {
    cursor: pointer;
    font-size: 25px;
}
#information2{
	
	/*height: 5px;*/
	/*
    position: absolute;
    text-align: left;
    top: -10px;
    width: 840px;
    display:none;
    padding:5px;
    */
    display:none;
    text-align: left;
    
}
