.font-management{
	font-size:20px;
	cursor:pointer;
	
}
.popover-content {
    padding: 5px;
}
.form-region-mangement{
	height:37px;
}

.form-region-label{
	float:left;
	padding-top: 7px;
	width:150px;
}
.form-region-input{
	float:left;
	width: 380px;
}