.font-management{
	font-size:20px;
	cursor:pointer;
	
}
.popover-content {
    padding: 5px;
}
.form-region-mangement{
	height:42px;
	padding-top:7px;
}

.form-region-label{
	float:left;
	width:150px;
}
.form-region-input{
	float:left;
	width: 380px;
}

.form-Operation-input{
	float:left;
	width: 335px;
}
.form-Operation-label{
	float:left;
	width:200px;
}
.btnManagementArea{
	text-align:right;
}
#information2{
	text-align:left;
}