.font-gear{
	font-size: 25px;
	cursor:pointer;
}
.font-setseeuser{
	font-size: 21px;
	cursor:pointer;
}
.form-label-role{
	float:left;
	padding-top: 7px;
	padding-right: 5px;
	width:auto;
}
.form-input-role{
	float:left;
	width: 425px;
}
.checkbox-inline{
	padding-top: 7px;
}

#btnTopManageArea{
color:red	
}
/*
.table-responsive{
	position: relative;
	top: -39px;
}
*/