.font-management{
	font-size:20px;
	cursor:pointer;
	
}
.popover-content {
    padding: 5px;
}
.form-system-mangement{
	height:37px;
}
.form-data{
	padding-top: 10px;
	float:left;
}
.form-save{
	padding-top: 25px;
	padding-left: 25px;
}
.form-saveWarning{
	padding-top: 65px;
	padding-left: 25px;
}
.form-system-label{
	float:left;
	padding-top: 7px;
	width:140px;
}
.form-system-input{
	float:left;
	width: 390px;
}

.input-data{
	/*width:150px;*/
	text-align:left;
	height:27px;
	padding: 5px;
}

.input-dataroot{
	width: 400px;
	text-align:left;
	height:27px;
	padding: 5px;
}
.input-dataselect{
	width:150px;
	height:27px;
	padding: 0px;
}
.btn-setall{
	padding-left: 25px;
}
#default_kpi_date{
	margin-top: 5px;
}

/*
.importFileLabel{
	width:200px;
	float:left;
	font-weight:bold;
}
.importFileInput{
	width:200px;
	float:left;
	font-weight:bold;
}
.importFileUom{
	width:50px;
	float:left;
	font-weight:bold;
}
*/


.importConfigLabel{
	width:175px;
}

.exportConfigLabel{
	width:220px;
}
.warningConfigLabelL{
	width:255px;
}
.warningConfigLabelR{
	width:220px;
}

.defaultRoleConfigLabel{
	width:260px;
}
.waringBranch{
	height:195px;
	
}


